
h1 {
    color: #FF0000;
    font-size: 24px;
    font-family: "Arial", sans-serif;
}

p {
    color: #333; 
    font-size: 16px;
    font-family: "Times New Roman", serif;
    text-align: left; 
}

.pilt-raamiga {
    border: 10px solid #000;
}

.paks-p2is th {
    font-weight: bold;
    font-size: 18px;
    color: #FF0000;
}

body {
    background-image: url("https://th.bing.com/th/id/OIP.twP1B5qkmKTLIHfkQRlprQHaEo?pid=ImgDet&rs=1");
    background-size: cover;
    background-repeat: no-repeat;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}